{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Play Turn{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <label for="dictionary">Dictionary</label>
        {{ form.dictionary }}
        <label for="word">New word</label>
        {{ form.word }}
        <label for="definition">Definition</label>
        {{ form.definition }}
        <input type="submit" value="Add Word">
    </form>
{% endblock %}
