{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <label for="username">Username</label>
        <input name="username" id="username" value={{ form.username.data }} required>
        <label for="new_password">New Password</label>
        <input type="password" name="new_password" id="new_password" required>
        <label for="confirm_password">Confirm New Password</label>
        <input type="password" name="confirm_password" id="confirm_password" required>
        <input type="hidden" name="token" id="token" value={{ form.token.data }} required>
        <input type="submit" value="Reset Password">
    </form>
{% endblock %}
